discord
discord_interactions
typing
google-generativeai
requests
aiohttp
BeautifulSoup4
search_engine_tool_vito1317
python-dotenv
gtts
pyttsx3
google-cloud-texttospeech
torchaudio
edge_tts
SpeechRecognition